* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #202627;
    font-family: Helvetica, Arial, sans-serif;
    background-color:rgb(234, 244, 246)
  }

  header {
    padding: 20px 35px;    
    background-color: rgb(11, 44, 66);
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  header h1 {
    border-bottom: 5px solid #cedfdf;
    font-weight: bold;
    font-size: 36px;
    color: #cedfdf;
    margin: 0;
  }